/* ==UserStyle==
@name        Salsify  Dark Mode
@version     1.0.3
@description Salsify Dark Mode
@namespace   nick-w-nick
@author      nick-w-nick
@homepageURL https://github.com/nick-w-nick/salsify-community
@supportURL  https://github.com/nick-w-nick/salsify-community/issues
@updateURL   https://github.com/nick-w-nick/salsify-community/raw/master/categories/extensions/Salsify%20Dark%20Mode/salsify-dark-mode.user.css
==/UserStyle== */

@-moz-document url-prefix("https://app.salsify.com/") {
    body {
        background-color: #0e242b;
        color: #fff;
    }
    
    /* ----------------- Inputs ----------------- */
    
    input.backbone-input, [class*="_search"], [class*="_search-box"], .index-view-search-control, .field {
        background-color: #0a1a1fa1 !important;
        border: #0e242b !important;
        color: #4EC0DF !important;
        border-radius: 5px !important;
    }
    
    .ember-power-select-trigger:not([class*="_dynamic-selector-trigger"]) {
        background-color: transparent !important;
    }
    
    [class*="_dynamic-selector-trigger"] {
        border: transparent;
    }
    
    [class*="_placeholder"] {
        background-color: #2e5f70;
    }
    
    [class*="_text-input"] {
        border-color: transparent;
    }
    
    .default-option-color {
        color: #fff !important;
    }
    
    [class*="_search-selector"] {
        margin-right: 10px;
    }
    
    .auth-form {
        color: #fff;
    }
    
    [class*="_remove"] i {
        color: #4EC0DF;
        transition: color .2s linear;
    }
    
    [class*="_remove"] i:hover {
        color: #d35454;
    }
    
    /* ----------------- Buttons ----------------- */
    
    /* Primary Button */
    [class*="_primary_salsify"] {
        background-color: #2f778f !important;
        color: #fff;
        border: 1px solid #4EC0DF !important;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
        transition: background-color .2s linear;
    }
    
    [class*="_primary_salsify"]:hover {
        background-color: #2e5f70 !important;
    }
    
    /* Secondary Button */
    [class*="_secondary_"] {
        background-color: #1a3e4a !important;
        color: #4EC0DF;
        font-weight: 400;
        font-size: 14px;
        border: 1px solid #4EC0DF !important;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
        transition: background-color .2s linear;
    }
    
    [class*="_secondary_"]:hover {
        background-color: #14343e !important;
    }
    
    /* Notification Box */
    [class*="_notification"] {
        background-color: #1a3e4a !important;
        color: #d3d9dd;
    }
    
    /* Pagination Bar */
    [class*="_paging"], [class*="_pagination"] {
        background-color: #1a3e4a !important;
        color: #fff !important;
        font-weight: 450;
        padding: 5px;
    }
    
    .paging-control-element a.paging-control-per-page-selector {
        color: #fff;
    }
    
    [role="button"] {
        color: #fff;
    }
    
    [class*="_clear-search-button_salsify"] {
        color: #4EC0DF;
    }
    
    [class*="_clear-search-button_salsify"]:hover {
        color: #2e5f70;
    }
    
    /* Dropdown Menu */
    [class*="ember-power-select"], [class*="_input_salsify"], .dropdown-menu, .dropdown-menu li a {
        color: white !important;
        background: #1a3e4a;
    }
    
    [class*="ember-power-select"][class*="_edit-options-trigger"] {
        background: transparent;
    }
    
    [class*="ember-power-select"].ember-power-select-selected-item {
        background-color: #1a3e4a;
    }
    
    [class*="ember-basic-dropdown-trigger"] {
        border-radius: 3px;
    }
    
    [class*="_expanded"] {
        font-weight: 300;
        background: #1a3e4a;
        border: 1px solid #4EC0DF !important;
    }
    
    [class*="_options"] {
        color: #fff !important;
    }
    
    [class*="_dropdown-option"] {
        background-color: #264c5a;
    }
    
    [class*="_dropdown-option"]:hover {
        background-color: #2e5f70;
    }
    
    [class*="_disabled"], [class*="_disabled"]:hover {
        background-color: #264c5a;
    }
    
    [class*="_container"][class*="_type-plain"], [class*="_result-container"], [class*="_result-container"] a {
        background-color: #1a3e4a;
        color: #fff;
    }
    
    ul.dropdown-menu.index-view-paging-options, ul.dropdown-menu.index-view-paging-options li a{
        background-color: #1a3e4a;
        color: #fff;
    }
    
    [class*="_header_"]:not([class*="_title_"]):not([data-role="condition-set-header"]), [class*="_content"]:not([data-role="menu-item-content"]), [class*="_thumbnail"] {
        text-shadow: none;
        color: #fff;
        background-color: #1a3e4a;
        padding-top: 10px;
        border-radius: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    [class*="_list-container"] [class*="_component_"] [class*="_header_"] {
        background-color: #0E242B;
    }
    
    [class*="_wrapper"] [class*="_content"] {
        padding-top: 0px !important;
        padding-left: 0px
    }
    
    [class*="_items_"] {
        background: transparent;
    }
    
    [class*="_header_"]:not([class*="_title_"]):not([data-role="condition-set-header"]):hover, [class*="_header-container"]:hover {
        text-shadow: none;
        color: #fff;
        background-color: #1a3e4a;
    }
    
    [class*="_header_"] [class*="_list-title"] {
        color: #fff;
    }
    
    [class*="_container"][class*="_type-plain"] a {
        color: #fff;
    }
    
    [class*="_condition-set"] {
        background-color: #2e5f70;
    }
    
    [class*="_separator-label"] {
        background-color: #2e5f70;
        border-radius: 3px;
        font-weight: 500;
    }
    
    a[class*="_link"] svg path, a[class*="_link"] i, [class*="_icon"] {
        fill: #fff;
        color: #fff !important;
    }
    
    [class*="_container"][class*="_type-plain"]:hover, [class*="_result-container"]:hover {
        background-color: #2e5f70;
    }
    
    /* Dropdown Menu - Current Selection */
    [class*="ember-power-select"][aria-current=true] {
        background-color: #2e5f70 !important;
    }
    
    [class*="_dynamic-selector-dropdown"], .ember-power-select-option[aria-selected="true"] {
        background-color: #2e5f70 !important;
        color: #fff;
    }
    
    /* Dropdown Menu Group */
    [class*="ember-power-select-group"], [class*="_menu-title"] {
        background-color: #0e242b;
    }
    
    /* Table Header Row */
    table tr th, table td, table td a, [class*="_table-row"][class*="_header"] {
        background-color: #1a3e4a !important;
        color: #fff;
    }
    
    table td, [class*="_card"], [class*="_no-events"] {
        background:#1a3e4a !important;
    }
    
    [class*="_body-row"] {
        color: #fff;
    }
    
    [class*="_name"] {
        color: #fff;
    }
    
    [data-role="simple-value"] {
        color: #fff;
    }
    
    [class*="_modal"] {
        background-color: #0e242b;
    }
    
    [class*="_input"] {
        border: transparent;
    }
    
    [class*="_nav"] {
        color: #fff;
    }
    
    .tabbed-outlet__tab-link, .tabbed-outlet__tab-link.active, [class*="_nav"][class*="_active"], [class*="_nav"]:not([class*="_channel-tabs"]):hover, ul[class*="_active"] {
        background-color: #1a3e4a !important;
        color: #fff !important;
    }
    
    .tabbed-outlet__tabs {
        background-color: transparent;
    }
    
    .navbar .nav > li > a {
        text-shadow: none;
        color: #fff;
    }
    
    .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
        color: #5ec9e2 !important;
    }
    
    [class*="_container"], [class*="_description"] {
        color: #fff;
    }
    
    [class*="_bubble"], [class*="_ribbon"] {
        background-color: #1a3e4a;
        border-radius: 3px;
    }
    
    .backbone-wrapper-view .well, .backbone-wrapper-view .controlsBar, .backbone-wrapper-view .modal-dialog, .backbone-wrapper-view .propertyGroupsTable .noGroups, .backbone-wrapper-view .modalBasedEditor .valueContainer, .backbone-wrapper-view .productFormatConfiguration  {
        background-color: #1a3e4a;
        border-radius: 3px;
        border: transparent;
        color: #fff;
    }
    
    .backbone-wrapper-view select, body .select2-container, body .select2-drop, body .select2-drop-mask, [class*="_arrow-button"] {
        background-color: #10272F;
        border: transparent;
        color: #fff;
        border-radius: 3px;
        transition: background-color .2s linear, color .2s linear;
    }
    
    [class*="_arrow-button"]:hover {
        background-color: #1a3e4a;
        color: #4EC0DF;
    }
    
    [class*="_last-clicked_"], [class*="_selected_"] {
        background-color: #1a3e4a;
    }
    
    [class*="_moved"], [class*="_dragging"] {
        background-color: #1a3e4a;
        animation: none;
    }
    
    body .select2-drop.select2-drop-above .select2-search input, body .select2-container-active .select2-choice, body .select2-container .select2-choice .select2-arrow, body .select2-container.select2-drop-above a.select2-choice, body .select2-container .select2-choice {
        background: #10272F;
        color: #fff;
        border: transparent;
        border-radius: 3px;
        box-shadow: none;
    }
    
    .backbone-wrapper-view .title, [class*="_title"], [class*="_label-text"] {
        color: #5ec9e2;
        text-shadow: none;
    }
    
    [class*="_body_"] {
        border: transparent;
    }
    
    /* Stats Page */
    [class*="_stat-block"], [class*="_link-title"], [class*="_label"], [class*="_card-header"], [class*="_table-header"] {
        color: #fff;
    }
    
    /* Date Picker */
    .pika-single, .pika-label, .pika-table th {
        background: #0e242b;
        color: #fff;
    }
    
    [class*="_date-selector"] table.pika-table button.pika-button {
        background: #1a3e4a;
        color: #fff;
    }
    
    [class*="_date-selector"] table.pika-table button.pika-button:hover {
        background: #0e242b;
        color: #4EC0DF;
        font-weight: 700;
    }
}